START
PUSHS "Introduz um inteiro n: "
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
L0FOR:
PUSHG 1
PUSHG 0
INFEQ
JZ L0ENDFOR
PUSHI 1
STOREG 3
PUSHI 2
STOREG 2
L1FOR:
PUSHG 2
PUSHG 1
PUSHI 1
SUB
INFEQ
JZ L1ENDFOR
PUSHG 1
PUSHG 2
MOD
PUSHI 0
EQUAL
JZ L2ELSE
PUSHI 0
STOREG 3
JUMP L2ENDIF
L2ELSE:
L2ENDIF:
PUSHG 2
PUSHI 1
ADD
STOREG 2
JUMP L1FOR
L1ENDFOR:
PUSHG 3
JZ L3ELSE
PUSHG 1
WRITEI
WRITELN
JUMP L3ENDIF
L3ELSE:
L3ENDIF:
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L0FOR
L0ENDFOR:
STOP
