START
PUSHS "Introduz um inteiro: "
WRITES
READ
ATOI
STOREG 0
PUSHG 0
PUSHI 0
INF
JZ L0ELSE
PUSHS "Negativo"
WRITES
WRITELN
JUMP L0ENDIF
L0ELSE:
PUSHG 0
PUSHI 0
EQUAL
JZ L1ELSE
PUSHS "Zero"
WRITES
WRITELN
JUMP L1ENDIF
L1ELSE:
PUSHS "Positivo"
WRITES
WRITELN
L1ENDIF:
L0ENDIF:
STOP
