START
PUSHS "Introduza o primeiro número: "
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHS "Introduza o segundo número: "
WRITES
WRITELN
READ
ATOI
STOREG 1
PUSHS "Introduza o terceiro número: "
WRITES
WRITELN
READ
ATOI
STOREG 2
PUSHG 0
PUSHG 1
SUP
JZ L0ELSE
PUSHG 0
PUSHG 2
SUP
JZ L1ELSE
PUSHG 0
STOREG 3
JUMP L1ENDIF
L1ELSE:
PUSHG 2
STOREG 3
L1ENDIF:
JUMP L0ENDIF
L0ELSE:
PUSHG 1
PUSHG 2
SUP
JZ L2ELSE
PUSHG 1
STOREG 3
JUMP L2ENDIF
L2ELSE:
PUSHG 2
STOREG 3
L2ENDIF:
L0ENDIF:
PUSHS "O maior é: "
WRITES
PUSHG 3
WRITEI
WRITELN
STOP
