PUSHI 5
ALLOCN
STOREG 0
START
PUSHI 0
STOREG 2
PUSHS "Introduza 5 números inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 1
L0FOR:
PUSHG 1
PUSHI 5
INFEQ
JZ L0ENDFOR
PUSHG 0
PUSHG 1
PUSHI 1
SUB
READ
ATOI
STOREN
PUSHG 2
PUSHG 0
PUSHG 1
PUSHI 1
SUB
CHECK 0,4
LOADN
ADD
STOREG 2
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L0FOR
L0ENDFOR:
PUSHS "A soma dos números é: "
WRITES
PUSHG 2
WRITEI
WRITELN
STOP
