START
PUSHS "Insere um número inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 0
L0WHILE:
PUSHG 0
PUSHI 0
INFEQ
JZ L0ENDWHILE
PUSHS "O número tem de ser positivo. Tenta novamente:"
WRITES
WRITELN
READ
ATOI
STOREG 0
JUMP L0WHILE
L0ENDWHILE:
PUSHI 0
STOREG 2
PUSHI 1
STOREG 1
L1FOR:
PUSHG 1
PUSHG 0
INFEQ
JZ L1ENDFOR
PUSHG 1
PUSHI 2
MOD
PUSHI 0
EQUAL
JZ L2ELSE
PUSHG 2
PUSHG 1
PUSHG 1
MUL
ADD
STOREG 2
JUMP L2ENDIF
L2ELSE:
L2ENDIF:
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L1FOR
L1ENDFOR:
PUSHS "A soma dos quadrados dos números pares até "
WRITES
PUSHG 0
WRITEI
PUSHS " é: "
WRITES
PUSHG 2
WRITEI
WRITELN
STOP
