START
PUSHS "Introduza um número inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 1
STOREG 2
PUSHI 2
STOREG 1
L0WHILE:
PUSHG 1
PUSHG 0
PUSHI 2
DIV
INFEQ
PUSHG 2
AND
JZ L0ENDWHILE
PUSHG 0
PUSHG 1
MOD
PUSHI 0
EQUAL
JZ L1ELSE
PUSHI 0
STOREG 2
JUMP L1ENDIF
L1ELSE:
L1ENDIF:
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L0WHILE
L0ENDWHILE:
PUSHG 2
JZ L2ELSE
PUSHG 0
WRITEI
PUSHS " é um número primo"
WRITES
WRITELN
JUMP L2ENDIF
L2ELSE:
PUSHG 0
WRITEI
PUSHS " não é um número primo"
WRITES
WRITELN
L2ENDIF:
STOP
