START
PUSHI 10
STOREG 0
PUSHG 0
PUSHI 2
DIV
PUSHI 3
ADD
STOREG 1
PUSHI 2
ITOF
PUSHF 5.123
FSUP
JZ L0ELSE
PUSHS "Maior que cinco"
WRITES
JUMP L0ENDIF
L0ELSE:
PUSHS "Menor que cinco"
WRITES
L0ENDIF:
STOP
